---
layout: "default"
---
Himpunan / Kumpulan Peraturan Negara Kesatuan Republik Indonesia (NKRI): 
Undang Undang Dasar 1945 (UUD 45), Undang Undang (UU), 
Peraturan Pemerintah Pengganti Undang-Undang (PERPU), Peraturan Pemerintah (PP), 
Peraturan Menteri (PERMEN), Peraturan Presiden (PERPRES), Surat Keputusan (SK), 
dan Peraturan Universitas Indonesia (UI).
<hr>
<a href="/index.html">TOP</a>
<a href="https://uuppri.github.io/2019/">Arsip 2019</a>
<a href="https://uuppri.github.io/2020/"> 2020</a>
<a href="https://uuppri.github.io/2021/"> 2021</a>
<a href="https://uuppri.github.io/2022/"> 2022</a>
<a href="https://uuppri.github.io/2023/"> 2023</a>
<a href="https://uuppri.github.io/2024/"> 2024</a>
<a href="..">UP</a>
<a href="https://uu.vlsm.org/">WEB</a>
<a href="https://github.com/UUPPRI/uuri/">GITHUB</a>
<br><br>

{{ content }}

<a href="/index.html">TOP</a>
<a href="https://uuppri.github.io/2019/">Arsip 2019</a>
<a href="https://uuppri.github.io/2020/"> 2020</a>
<a href="https://uuppri.github.io/2021/"> 2021</a>
<a href="https://uuppri.github.io/2022/"> 2022</a>
<a href="https://uuppri.github.io/2023/"> 2023</a>
<a href="https://uuppri.github.io/2024/"> 2024</a>
<a href="..">UP</a>
<a href="https://uu.vlsm.org/">WEB</a>
<a href="https://github.com/UUPPRI/uuri/">GITHUB</a>

<hr>
<br>
  <h3>DISCLAIMER</h3>
  <br><b>This is HOW Me Do IT!</b>
  And it is in no way an official site!
  There is no guarantee whatsoever for the accuracy and validity of the documents.
  Use them at your own risk!
<br><br>
  This archive is based on "<i>Google There, Google Here (GSGS)</i>". Whether this is <b>PLAGIARY</b> or <b>RESEARCH</b>, there has never been a claim that this is an original work, nor is it necessarily the best solution, and not for Scopus consumption :). Please provide feedback, especially if you have alternative explanations. Hopefully, this note will be helpful in the future when you have forgotten how to solve this trivia problem.
  <br><br>
  <h3>DISKLAIMER</h3>
  <br><b>INIlah yang KUlakukan!</b> Ini bukan arsip resmi!
Tidak ada jaminan sama sekali atas keakuratan dan kesahihan dokumen. Risiko ditanggung sendiri, ya!
<br><br>
Arsip ini berbasis "<i>Google Sana, Google Sini (GSGS)</i>". Entah ini <b>PLAGIAT</b>, entah ini <b>RISET</b>, yang jelas tidak pernah ada klaim bahwa ini merupakan karya asli, serta belum tentu pula merupakan solusi terbaik, serta bukan untuk konsumsi Scopus :). Mohon kiranya memberikan tanggapan, terutama jika memiliki solusi alternatif. Semoga catatan ini akan bermanfaat di masa mendatang, saat sudah lupa cara menyelesaikan masalah trivia ini.
<br><br><b>This is the way!</b>
<br>

