---
layout: "default"
---
Himpunan / Kumpulan Peraturan Negara Kesatuan Republik Indonesia (NKRI): 
Undang Undang Dasar 1945 (UUD 45), Undang Undang (UU), 
Peraturan Pemerintah Pengganti Undang-Undang (PERPU), Peraturan Pemerintah (PP), 
Peraturan Menteri (PERMEN), Peraturan Presiden (PERPRES), Surat Keputusan (SK), 
dan Peraturan Universitas Indonesia (UI).
<hr>
<a href="/index.html">TOP</a>
<a href="..">UP</a>
<a href="https://uu.vlsm.org/">WEB</a>
<a href="https://github.com/UUPPRI/uuri/">GITHUB</a>
<br><br>

{{ content }}

<a href="/index.html">TOP</a>
<a href="..">UP</a>
<a href="https://uu.vlsm.org/">WEB</a>
<a href="https://github.com/UUPPRI/uuri/">GITHUB</a>

<hr>
<h2>DISKLAIMER</h2>
<h3>INI HIMPUNAN TIDAK RESMI</h3>
<h4>TIDAK ADA JAMINAN BAHWA AKURAT 100%</h4>
Gunakan himpunan ini sebagai bahan bandingan, bukan bahan resmi!
Himpunan ini terutama untuk KEPERLUAN SENDIRI --- berbasis 
"Google Sana, Google Sini, Coba Itu, Coba Ini, Lalu Tanya-tanyi".
Entah ini PLAGIAT, entah ini RISET, yang jelas tidak pernah ada klaim bahwa ini merupakan karya asli, 
dan belum tentu pula merupakan solusi terbaik :).
Mohon kiranya memberikan tanggapan, terutama jika memiliki solusi alternatif.
Semoga ini bermanfaat di masa mendatang, saat sudah lupa cara menyelesaikan masalah trivia ini.
<br>
<a href="https://rahmatm.samik-ibrahim.vlsm.org/2021/01/how-to-contact-rahmat-m-samik-ibrahim.html">Rahmat M. Samik-Ibrahim</a>
<br>

